body {
    width: 50vw;
}

.box_1 {
    background-color: green;
    width: 50%;
    height: 50%;
    font-size: 1em;
}

.box_2 {
    background-color: green;
    width: 50vh;
    height: 50vh;
    width: 50vw;
    font-size: 1rem;
}
