body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}

table {
    width: 60%;
    text-align: center;
}

tr:hover {
    background-color: #e6e6e6;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}