.box_1 {
    background-color: green;
}

.box_2 {
    background-color: green;
    width: 1in;
}

.box_3 {
    background-color: green;
    width: 3cm;
}

.box_4 {
    background-color: green;
    width: 30mm;
}

.box_5 {
    background-color: green;
    width: 100pt;
}

.box_6 {
    background-color: green;
    width: 10pc;
}