.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 60vh;
}

.bloco {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 30%;
    color: white;
    text-align: center;
}

.a {
    background-color: #65e1cf;
}

.b {
    background-color: #ed5781;
}

.c {
    background-color: #79e97d;
}

.d {
    background-color: #dceec8;
}

.e {
    background-color: #f58f2d;
}