body {
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

#box1 {
    background-color: lightgray;
    width: 50%;
    height: 100%;
}

#box2 {
    background-color: lightgreen;
    width: 50%;
    height: 100%;
}